body
{   
    background-image: url("../images/images.png");
}
#table
{
    color: white;
    padding: 10px 20px 20px 20px;
    margin: auto;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: #290C3B;
}

td
{
    text-align: center;
}

tr:hover{
    background-color: #641694;

}
#header td
{
    font-weight: bold;
    font-size: x-large;
    color: white;
    border-bottom: 2px solid black;
    padding: 10px 20px 5px 20px;
}
.name
{
    font-weight: bold;    
}

.teams td
{
    border-bottom: 2px solid black;
}

.image
{
    padding: 10px;
}

.position
{
    font-weight: bold;
    font-size: x-large;
}

