body
{   
    background-image: url("../images/images.png");
}

.navbar
{
    background-color: #290C3B;
    padding: 50px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.navbar a
{
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    margin-left:30px;
    text-decoration: none;
    background-color: white;
}

.navbar a:hover
{
    background-color: #641694;
    color: white;
}

.navbar p
{
    display: inline-block;
    padding-left: 2in;
    color: white;
    font-size: xx-large;
}

#table
{
    color: white;
    padding: 10px 20px 20px 20px;
    margin: auto;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: #290C3B;
}

td
{
    text-align: center;
}

.teams:hover
{
    background-color: #641694;

}

#header td
{
    font-weight: bold;
    font-size: x-large;
    color: white;
    border-bottom: 2px solid black;
    padding: 10px 20px 5px 20px;
}
.name
{
    font-weight: bold;    
}

.teams td
{
    border-bottom: 2px solid black;
}

.image
{
    padding: 10px;
}

.position
{
    font-weight: bold;
    font-size: x-large;
}

